
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> 백파더</title>
    <meta name="keywords" content="백파더, 백종원, 양세형, 요린이" />
    <meta name="description" content="방송중 토(오후) 5시 - 요리 포기! 요리 단절!
요리라면 겁부터 먹는 요린이 구출 대작전!
요리 아버지 &#39;백파더&#39; 백종원과 함께
언택트 시대 쌍방향 소통 요리쇼가 시작된다" />
    <meta property="og:title" content="백파더 : 요리를 멈추지 마! | GO! MBC" />
    <meta property="og:locale" content="ko_KR" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="iMBC" />
    <meta property="og:url" content="http://program.imbc.com/100father" />
    <meta property="og:description" content="방송중 토(오후) 5시 - 요리 포기! 요리 단절!
요리라면 겁부터 먹는 요린이 구출 대작전!
요리 아버지 &#39;백파더&#39; 백종원과 함께
언택트 시대 쌍방향 소통 요리쇼가 시작된다" />
    <meta property="og:image" content="http://img.imbc.com/adams/Program/20206/132366570100277852.jpg" />
    <meta property="og:image:width" content="584" />
    <meta property="og:image:height" content="330" />
    <meta name="referrer" content="no-referrer-when-downgrade">

    <link rel="canonical" href="http://program.imbc.com/100father" />
    <link rel="alternate" media="only screen and (max-width: 640px)" href="http://m.imbc.com/program/1005006100000100000">
    <link rel="shortcut icon" href="//img.imbc.com/2010_main/images/favi2018.ico" />

    <link href="/css/sub-common.css?202101171622" rel="stylesheet" type="text/css">
    <link href="/css/slick.css" rel="stylesheet" type="text/css">
    <link href="/css/common.css?202101171622" rel="stylesheet" type="text/css">
    <link href="/css/sub.css?202101171622" rel="stylesheet" type="text/css">
    <script src="/js/jquery-1.12.3.min.js"></script>
    <script src="/js/www/common.js"></script>
    <script src="/js/slick.min.js"></script>
    <script src="/js/pro_common.js?202101171622"></script>
    <script src="/js/lib.comom.js?202101171622"></script>
    <!--[if lt IE 9]><script src="/js/html5shiv.min.js" type="text/javascript"></script><![endif]-->
    <script type="application/ld+json">
        {
        "@type" : "TVSeries",
        "@id" : "http://program.imbc.com/100father",
        "@context" : "http://schema.org",
        "name" : "백파더 : 요리를 멈추지 마! | GO! MBC",
        "description" : "방송중 토(오후) 5시 - 요리 포기! 요리 단절!
요리라면 겁부터 먹는 요린이 구출 대작전!
요리 아버지 &#39;백파더&#39; 백종원과 함께
언택트 시대 쌍방향 소통 요리쇼가 시작된다",
        "url" : "http://program.imbc.com/100father",
        "image": {
        "@type": "ImageObject",
        "url": "http://img.imbc.com/adams/Program/20206/132366570100277852.jpg",
        "width": "584",
        "height": "330"
        },
        "keywords":"백파더, 백종원, 양세형, 요린이",
        "sameAs":[
        "https://www.facebook.com/MBC",
        "https://twitter.com/withmbc",
        "https://www.instagram.com/withmbc"
        ]
        }
    </script>
    <script>
        //bid 셋팅
        var bid = 1005006100000100000;
    </script>
</head>
<body>
    <div id="accessibility">
        <a href="#container">본문 바로가기</a>
        <a href="#proNav">프로그램 메뉴 바로가기</a>
    </div>
    <div id="wrap" class="main">
        <div id="header">
            <!-- 헤더, 네비 -->
            <div class="nav wrapper">
                <!-- 네비게이션 -->
            </div>
        </div>
        <div id="container" role="main">
            <div class="wrap_program">

                

<script src="/Scripts/jquery.tmpl.min.js"></script>

<div id="wrap_maininfo"></div>
<script id="MainInfo" type="text/j-query-tmpl">
    {{if mainTplInfo === null}}
    <section class="sc_type1">
        <!-- head html -->
    </section>
    {{else}}
    {{if (BgImage.length <= 0 || (MainImage1.length <=0 && MainImage2.length <=0  && MainImage3.length <=0  && MainImage4.length <=0 )) && !(mainTplInfo.MainMediaContent_UseFlag == "Y"  && checkDateformat(mainTplInfo.ViewStartdate, mainTplInfo.ViewEnddate) == true)}}
    <!-- 티저 심플형 -->
    <section class="sc_type1">
        <!-- head html -->
    </section>
    {{else}}
    <section class="sc_type2" style="background: url('${BgImage}') top center no-repeat;">
        <div class="box">
            <p class="sort"></p>
            <h2>${ProgramTitle}</h2>
            <div class="pro_info">
                <span class="time">${BroadInfo}</span>
                <span class="bar"></span>
                <button type="button" class="btn_like"><span class="like"></span></button>
            </div>
            <!-- 작은 플로팅배너(이미지형 공지) -->
            <div class="flt" style="display:none;">
                <div class="flt_txt">
                    <a><img src="/images/flt-banner.png" alt=""></a>
                </div>
                <button type="button" title="닫기"><img src="/images/ico-close-b.png" alt="닫기"></button>
            </div>
            <!-- 포스터일때-->
            {{if MainImage1.length > 0 || MainImage2.length > 0 || MainImage3.length > 0 || MainImage4.length > 0}}
            <div class="roll_poster">
                {{if MainImage1.length > 0 }}
                <div>
                    <img src="${MainImage1}" alt="프로그램 포스터">
                </div>
                {{/if}}
                {{if MainImage2.length > 0}}
                <div>
                    <img src="${MainImage2}" alt="프로그램 포스터">
                </div>
                {{/if}}
                {{if MainImage3.length > 0}}
                <div>
                    <img src="${MainImage3}" alt="프로그램 포스터">
                </div>
                {{/if}}
                {{if MainImage4.length > 0}}
                <div>
                    <img src="${MainImage4}" alt="프로그램 포스터">
                </div>
                {{/if}}
            </div>
            {{/if}}
            <!-- 배너 띄울 때-->
            {{if mainTplInfo !== null }}
            {{if mainTplInfo.MainMediaContent_UseFlag == "Y"}}
            {{if mainTplInfo.ContentSeq == 5 && mainTplInfo.ImageUrl!="" }}
            {{if mainTplInfo.ViewFlag == "D" && checkDateformat(mainTplInfo.ViewStartdate, mainTplInfo.ViewEnddate) == true}} <!-- 날짜별 지정-->
            <div class="flt_box">
                <img src="${mainTplInfo.ImageUrl}" alt="프로모션 배너">
                <button type="button" class="close_flt" id="btnClose">닫기</button>
            </div>
            {{/if}}
            {{/if}}
            <!-- 영상 띄울 때-->
            {{if mainTplInfo.ContentSeq != 0 && mainTplInfo.ContentSeq != 5 && mainTplInfo.Broadcastid > 0}}
            {{if mainTplInfo.ContentSeq == 4 || mainTplInfo.ContentSeq == 2}} <!-- 영상스케치 혹은 클립 일때-->
            {{if mainTplInfo.ViewFlag == "D" && checkDateformat(mainTplInfo.ViewStartdate, mainTplInfo.ViewEnddate) == true}}<!-- 날짜별 지정-->
            <div class="flt_box flt_vod">
                <iframe src="http://playvod.imbc.com/Vod/PopupPlayer?isPopup=Y&mediaType=VOD&itemid=-99&isAuto=N&broadcastid=${mainTplInfo.Broadcastid}&isAd=N" width="100%" height="100%" style="z-index:50;border:none"  allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
                <button type="button" class="close_flt">닫기</button>
            </div>
            {{/if}}
            {{else}}

            <div class="flt_box flt_vod">
                <iframe src="http://playvod.imbc.com/Vod/PopupPlayer?isPopup=Y&mediaType=VOD&itemid=-1&isAuto=N&broadcastid=${mainTplInfo.Broadcastid}&isAd=N" width="100%" height="100%" style="z-index:50;border:none"  allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
                <button type="button" class="close_flt">닫기</button>
            </div>
            {{/if}}
            {{/if}}
            {{/if}}
            {{/if}}
        </div>
    </section>
    {{/if}}
    {{/if}}
</script>

<div id="divnotice"></div>
<script id="MainNotice" type="text/j-query-tmpl">
    {{if List!== null && List.length > 0}}
    <section class="sc_noti">
        <h3 class="blind">공지사항</h3>
        <div class="wrap_notice" id="notices">
            <span class="tit">NOTICE</span>
            <span class="bar"></span>
            <ul class="notice_list">
                {{each(i,item)  List}}
                {{if item.NoticeUrl.length>0}}
                <li class="cont"><a href="${item.NoticeUrl}" class="ellipsis" target="{{if item.NoticeTarget=="Y"}}_blank{{/if}}">{{html item.Notice}}</a></li>
                {{else}}
                <li class="cont"><span  class="ellipsis">{{html item.Notice}}</span></li>
                {{/if}}
                {{/each}}
            </ul>
            {{if TotalCount > 1 }}
            <div class="count">
                <span class="num">1</span>
                <span>/</span>
                <span class="sum">${TotalCount}</span>
            </div>
            <div class="btn-count" id="btnCount">
                <button type="button" class="btn-left">이전 공지사항 보기</button>
                <button type="button" class="btn-right">다음 공지사항 보기</button>
            </div>
            {{/if}}
        </div>
    </section>
    {{/if}}
</script>
<section class="sc_nav" id="proNav">
    <h3 class="blind">프로그램 메뉴</h3>
</section>
<section class="box sc_vod">
    <h3>최신영상</h3>
    <div id="MainVodList" class="thumb_list"> </div>
</section>
<section class="mid box">
    <div class="sc_concept">
        <h3>기획의도</h3>
        <p class="ellipsis3"></p>
        <a href="/Concept/100father" class="btn_more">더보기</a>
    </div>
    <div class="sc_cast">
        <h3>등장인물</h3>
        <ul id="castlist"></ul>
    </div>
    <script id="MainCast" type="text/j-query-tmpl">
        <li><a href="/Cast/100father?id=${PersonID}"><span class="img"><img src="${PersonPicture}" alt="${CastName}"></span><span class="name">${CastName}</span></a></li>
    </script>
</section>

<section class="box sc_bbs">
    <h3>비하인드</h3>
    <div class="wrap_bbs slide_bbs" id="behindlist">

    </div>
</section>
<script id="behinddata" type="text/j-query-tmpl">
    <div class="list ${type}">
        <a href="${link}">
            <span class="img"><img src="${imgurl}" alt="${title}"></span>
            {{if type == "vod"}}
            <span class="time">${duration}</span>
            {{/if}}
            <div class="wrap_txt">
                <p class="txt ellipsis-multi">${title} </p>
                <span class="sort"></span>
            </div>
        </a>
    </div>
</script>

<script id="mainVod" type="text/j-query-tmpl">
    {{if List!== null && List.length > 0}}
    <ul>
        {{each(i,item)  List}}
        <li class="thumb">
            <a href="${item.LinkURL}">
                <span class="label">{{if item.VodType=="P"}}예고{{/if}}{{if item.VodType=="V"}}다시보기{{/if}}{{if item.VodType=="C"}}핫클립{{/if}}</span>
                <span class="img vod"><img src="${item.ContentImg}" alt=""></span>
                <span class="time">${item.Duration}</span>
                <div class="wrap_txt">
                    <p class="txt ellipsis-multi">${item.ContentTitle} </p>
                    <span class="date">${item.BroadDate}</span>
                </div>
            </a>
        </li>
        {{if i == "2" }}
            <li class="ad">
                <div class="ad-rectangle">
                    <iframe style="width:250px; height:250px" noresize scrolling="no" frameborder="0" marginheight="0" marginwidth="0"
                            src="http://ads.imbc.com/RealMedia/ads/adstream_sx.ads/www.imbc.com/dramamain@TopRight" title="광고">
                        <a href="http://ads.imbc.com/RealMedia/ads/click_nx.ads/www.imbc.com/dramamain@TopRight">
                            <img src="http://ads.imbc.com/RealMedia/ads/adstream_nx.ads/www.imbc.com/dramamain@TopRight" alt="광고">
                        </a>
                    </iframe>

                </div>
            </li>
        {{/if}}
        {{/each}}
    </ul>
    {{/if}}
</script>

<script id="enews" type="text/j-query-tmpl">
    <div class="thumb">
        <a href="/Enews/Detail/100father?idx=${NewsIdx}">
            <span class="img"><img src="${RectangleImg}" alt="${Title} 이미지"></span>
            <div class="wrap_txt">
                <p class="txt ellipsis-multi">${Title} </p>
                <span class="date">${PublicationDate}</span>
            </div>
        </a>
    </div>
</script>
<section class="box sc_ad">
    <h3 class="blind">광고</h3>
    <div class="wrap_ad">

    </div>
</section>
<section class="box sc_news">
    <h3>연예뉴스</h3>
    <div class="thumb_list slide_news" id="enewslist">
    </div>
</section>
<section class="box sc_popular">
    <h3>인기 프로그램</h3>
    <div class="wrap_popular">
        <ul id="ulTvProgram"></ul>
    </div>
</section>
<script id="tvprogram" type="text/j-query-tmpl">
    <li><a href="${HomepageURL}"><img src="${ProgramPoster}" alt="${Title}" width="178" height="252"></a></li>
</script>
<script language="javascript">
    var aliasURL = "100father";
        $(function () {
            MainUtil.SetProgramMain();
            MainNotice();
        });

        function MainNotice() {
              $.ajax({
                url: "//control.imbc.com/Program/Notice",
                data: { bid: 1005006100000100000, device:"P", noticeType:"T"},
                dataType: "jsonp",
                async: true,
                jsonpCallback: "ProgramMainNotice_" + 1005006100000100000,
                cache: true,
                timeout: 10000,
                success: function (d) {
                    $("#MainNotice").tmpl(d).appendTo("#divnotice");
                    if (d.TotalCount > 1) {
                        noticeRoll('notices', 'btnCount', true);
                    }
                }
            });
    }

    function checkDateformat(stdate, eddate) {
        var nowdate = checkNowDate();
        if (nowdate >= stdate && nowdate <= eddate) {
            return true;
        }
        return false;
    }

    function checkNowDate() {
        var date = new Date();
        var yyyy = date.getFullYear().toString();
        var mm = (date.getMonth() + 1).toString();
        var dd = date.getDate().toString();
        var hh = date.getHours().toString();
        var mmm = date.getMinutes().toString();

        return yyyy + "-" + (mm[1] ? mm : '0' + mm[0]) + "-" + (dd[1] ? dd : '0' + dd[0]) + " " + (hh[1] ? hh : '0' + hh[0]) + ":" + (mmm[1] ? mmm: '0' + mmm[0]);
    }

</script>

            </div>
        </div>
        <footer>
            <p>본 콘텐츠의 저작권은 MBC에 있습니다. <br>Copyright(c) Since 1996, MBC&iMBC All rights reserved.</p>
        </footer>
    </div>
</body>
</html>

